# webpage related
_site
*jekyll*

# visualization files
.DAWN*
*.heprep
*.eps
*.prim
*.jpeg
*.jpg
*.png
*.pdf
user.properties
*.gif
*.zip
*.wrl
*.jar
*.x3d
*.html
*.htm
*.gdml

# Executables
gears
ghdf5
gcsv
gxml

# backup files
\#*
.swp
*~

# Data
*.root
*.json
*.csv
*.h5
*.he5
*.hdf
*.hdf5

# alternative output format
ghdf5.cc
gcsv.cc
gxml.cc
